:root {
  --brand-color: #212121;
  --logo-color: #000000;
  --second-color: #2196f3;
  --text-color: #757575;
  --background-color: #2f303a;
  --logo-footer-adress-hero: #ffffff;
  --footer-list-contacts-color: rgba(255, 255, 255, 0.6);
  --hero-button-color: rgba(0, 0, 0, 0.15);
  --hero-name-color: rgba(0, 0, 0, 0.25);
  --client-command-color: #afb1b8;
  --description-color: #f5f4fa;
  --header-border-color: #ececec;
  --after-filtre-text-box-color: #eeeeee;
  --mob-menu-soc: rgba(33, 150, 243, 1);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
}

* h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin: 0px;
  padding-left: 0;
}

li {
  list-style-type: none;
}

.header {
  margin: 0;
}

.header__container {
  display: block;
  position: relative;
}

.logo {
  color: var(--logo-color);
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    padding-top: 25px;
    padding-bottom: 24px;
    margin-right: 93px;
  }
}

.logo__part,
.logo-footer__part {
  color: var(--second-color);
}

.logo,
.logo__part,
.logo-footer,
.footer__box {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}

.logo-footer {
  margin-bottom: 20px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav__link.site-nav__link--current {
  color: var(--second-color);
}
.site-nav__link.site-nav__link--current::after {
  display: inline-block;
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--second-color);
}

.contacts__link {
  color: var(--text-color);
  display: inline-flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--second-color);
  --text-color: var(--second-color);
}

.contacts-nav__item {
  margin: 0 auto;
}

.contacts-nav__item:last-child {
  margin-top: 10px;
}
@media screen and (min-width: 1200px) {
  .contacts-nav__item:last-child {
    margin-left: 50px;
    margin-top: 0;
  }
}

.contacts__icon {
  display: inline-flex;
  margin-right: 10px;
  cursor: pointer;
  fill: var(--text-color);
  align-items: center;
  color: currentColor;
}

.site-nav__link,
.contacts__link {
  max-width: 100%;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-decoration: none;
}
@media (max-width: 1199px) {
  .site-nav__link,
.contacts__link {
    font-size: 12px;
    line-height: 1.167;
  }
}

.header {
  max-width: 100%;
  border-bottom: 1px solid var(--header-border-color);
}
.header .container {
  display: flex;
  align-items: center;
}

.contacts {
  max-width: 100%;
}
@media (max-width: 767.98px) {
  .contacts {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    margin-left: auto;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    align-items: center;
    display: flex;
    margin-left: auto;
  }
}

.heder-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.site-nav {
  display: flex;
  align-items: flex-end;
}
.site-nav__item {
  position: relative;
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
@media (min-width: 1200px) {
  .site-nav__item:not(:last-child) {
    margin-right: 30px;
  }
}
@media (max-width: 767.98px) {
  .site-nav {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.smartphone {
  width: 10px;
  height: 16px;
}

.envelope {
  width: 16px;
  height: 12px;
}

.site-nav__link {
  color: var(--brand-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus,
.site-nav__link .contacts__link:hover,
.site-nav__link .contacts__link:focus {
  color: var(--second-color);
}

.menu-open-btn {
  margin-left: auto;
  border: none;
  display: contents;
  cursor: pointer;
}
@media (min-width: 768px) {
  .menu-open-btn {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.menu-close-btn {
  display: block;
  margin-left: auto;
  border: none;
}

.mob-menu {
  max-width: 480px;
  flex-direction: column;
  padding: 48px 40px;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: var(--logo-footer-adress-hero);
  width: 100vw;
  height: 100vh;
}
@media (min-width: 768px) {
  .mob-menu {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
.mob-menu .mob-menu-block {
  max-height: 100%;
  max-width: 768px;
}
.mob-menu .container {
  overflow-y: auto;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.mob-menu {
  width: 100%;
}

.soc-mob-menu {
  display: flex;
}

.mob-menu__item,
.soc-mob-menu__item {
  text-decoration: none;
}

.mob-menu__link {
  text-decoration: none;
  font-family: "Roboto", Tahoma, sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.mob-menu__link {
  display: block;
}
.mob-menu__link.mob-menu__link--current {
  fill: var(--second-color);
}
.mob-menu__link.mob-menu__link--current::after {
  display: inline-block;
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  fill: var(--second-color);
}

@media (max-width: 767.98px) {
  .mob-menu__link.mob-menu__link--current {
    color: var(--second-color);
  }
}

.mob-menu-contacts__link {
  font-family: "Roboto", Tahoma, sans-serif;
  font-weight: 500;
  text-decoration: none;
}

.mob-menu-telefon__link {
  text-decoration: none;
  font-size: 34px;
  line-height: 1.175;
  color: var(--second-color);
}

.mob-menu-mail__link {
  text-decoration: none;
  font-size: 24px;
  line-height: 1.167;
  color: var(--text-color);
}

.mob-menu__item:not(:last-child),
.mob-menu-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__item:last-child {
  margin-bottom: 64px;
}

.menu-bottom {
  flex-direction: column;
}

.soc-mob-menu__link {
  text-decoration: none;
  font-family: "Roboto", Tahoma, sans-serif;
  font-weight: 500;
  font-size: 3vw;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--second-color);
}

.soc-mob-menu__item:not(:last-child) {
  margin-right: 9.5px;
  padding-right: 10.5px;
  border-right: 2px solid rgba(33, 33, 33, 0.2);
}

.no-scroll {
  overflow: hidden;
}

.mob-menu__button {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu__button:hover {
  fill: var(--second-color);
}

.mob-menu__link {
  color: var(--brand-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu__link:focus,
.mob-menu__link:hover {
  color: var(--second-color);
}

.menu__button {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__button:hover {
  fill: var(--second-color);
}
@media (min-width: 768px) {
  .menu__button {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.hero {
  background-color: var(--background-color);
  color: var(--logo-footer-adress-hero);
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob.jpg);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob2.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tab2.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-after.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desk2.jpg);
  }
}
.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px var(--hero-name-color), 0px 4px 4px var(--hero-name-color);
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.06em;
}
@media screen and (max-width: 1199px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
    max-width: 360px;
  }
}
.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  background-color: var(--second-color);
  box-shadow: 0px 4px 4px var(--hero-button-color);
  border-radius: 4px;
  cursor: pointer;
  min-width: 200px;
  padding: 10px 32px;
  margin-top: 30px;
  color: var(--logo-footer-adress-hero);
  border: transparent;
}
.container .hero {
  display: flex;
  max-width: 100%;
  padding: 0;
  padding-top: 118px;
  padding-bottom: 118px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms, visibility 250ms;
  padding: 93px 15px;
}
@media screen and (min-width: 1200px) {
  .backdrop {
    width: 100%;
  }
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  max-width: 450px;
  min-height: 609px;
  background-color: var(--logo-footer-adress-hero);
  border: none;
  position: absolute;
  display: contents;
  left: 100%;
  transform: translate(-100%, -50%);
  transition: transform 250ms;
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    min-height: 581px;
  }
}
.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover {
  fill: var(--second-color);
}
.modal-icon {
  position: relative;
}
.modal-icon__svg {
  position: absolute;
  top: 11px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field {
  margin-bottom: 10px;
}
.modal-field-check {
  margin-bottom: 30px;
}
.modal-comment {
  margin-bottom: 20px;
}
.modal-label {
  display: block;
  font-family: "Roboto", Tahoma, sans-serif;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: var(--text-color);
  margin-bottom: 4px;
}
.modal-text {
  display: block;
  width: 100%;
  height: 120px;
  font-family: "Roboto", Tahoma, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border-color: rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
  outline: none;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text:focus {
  border-radius: 4px;
  border: 1px solid var(--second-color);
}

.block-modal {
  background-color: var(--logo-footer-adress-hero);
  padding: 40px;
  position: relative;
  transition: transform 250ms;
}
@media screen and (min-width: 768px) {
  .block-modal {
    position: absolute;
    min-width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 1200px) {
  .block-modal {
    transform: translate(-50%, -50%);
  }
}
.block-modal__title {
  font-family: "Roboto", Tahoma, sans-serif;
  font-size: 20px;
  line-height: 1.15;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  text-align: center;
  margin-bottom: 12px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-label:focus-within > .icon {
  background-color: var(--second-color);
}

.modal-form-block:focus-visible {
  border-color: var(--second-color);
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-radius: 4px;
  border: 1px solid var(--second-color);
}
.modal-input:focus + .modal-icon__svg {
  fill: var(--second-color);
}
.modal-input::placeholder {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-input:focus:placeholder-shown {
  border: 1px solid var(--second-color);
}

.check-text {
  font-family: "Raleway", sans-serif;
  font-size: 2vw;
  line-height: 1.72;
  letter-spacing: 0.03em;
  color: var(--text-color);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .check-text {
    font-size: 14px;
  }
}

.modal-icon-span {
  margin-right: 8px;
}
.modal-icon-span__check {
  fill: transparent;
}

.check-text span .modal-icon-span__check {
  width: 16px;
  height: 15px;
  border: 2px solid var(--brand-color);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-check:checked + .check-text span .modal-icon-span__check {
  background-color: var(--second-color);
  border: none;
}

.modal-check:checked + .check-text .modal-icon-span__check {
  fill: var(--logo-footer-adress-hero);
}

.agreement-text {
  color: var(--second-color);
  text-decoration: underline;
  padding-left: 1px;
}

.send {
  display: block;
  font-family: "Roboto", Tahoma, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--second-color);
  color: var(--logo-footer-adress-hero);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  border: transparent;
}

.section {
  max-width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    min-width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--nowpadding {
  padding-top: 0;
}
@media (max-width: 1199px) {
  .section--nowpadding {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.section__title,
.description-modal {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.description {
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .description {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.description__item {
  background-position: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .description__item {
    position: relative;
    width: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .description__item {
    position: relative;
    width: calc(25% - 30px);
    margin-left: 30px;
  }
}

.description__item::before {
  background-color: var(--description-color);
  width: 450px;
  height: 120px;
}

.description__box {
  max-width: 100%;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--description-color);
  border-radius: 4px;
}

.description__svg {
  color: var(--client-command-color);
}

.text {
  font-family: "Roboto", Tahoma, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.title {
  max-width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .title {
    text-align: center;
  }
}

.works__text {
  max-width: 100%;
  font-family: "Roboto", Tahoma, sans-serif;
  font-weight: 700;
  position: absolute;
  display: flex;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  width: 100%;
  height: 70px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 1.143;
  align-items: Center;
  justify-content: center;
  letter-spacing: 0.03em;
}

.works__box {
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.works__item {
  max-width: 100%;
  background-color: var(--logo-footer-adress-hero);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.works__item:not(:last-child) {
  margin-right: 30px;
}

.command__item {
  max-width: 100%;
  background-color: var(--logo-footer-adress-hero);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  .command__item {
    max-width: 100%;
    margin-right: 15px;
  }
}

.section__command {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.172;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .section__command {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.18;
  }
}

.section--otherbackgraund {
  background-color: var(--description-color);
  text-align: center;
}

.works,
.command-work {
  display: flex;
}

.command {
  padding-left: 0;
  padding-right: 0x;
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .command {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .command {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.command__item {
  margin-bottom: 30px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .command__item {
    position: relative;
    width: calc(100% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 768px) {
  .command__item {
    position: relative;
    width: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .command__item {
    position: relative;
    width: calc(25% - 30px);
    margin-left: 30px;
  }
}

.command__box {
  padding-top: 30px;
  padding-bottom: 30px;
}
.command__box:not(:last-child) {
  padding-left: 30px;
}

.command__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.command__text {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 16px;
}

.soc-list {
  display: flex;
  justify-content: center;
}

.soc-list__link {
  width: 44px;
  height: 44px;
  background-color: var(--logo-footer-adress-hero);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--client-command-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-list__link:hover, .soc-list__link:focus {
  background-color: var(--second-color);
  fill: var(--logo-footer-adress-hero);
}

.soc-list__item + .soc-list__item {
  margin-left: 10px;
}

.soc-list__icon {
  color: var(--client-command-color);
}

.client-list {
  display: flex;
  margin: -15px;
  flex-wrap: wrap;
  align-content: space-between;
}
@media screen and (min-width: 768px) {
  .client-list {
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .client-list {
    flex-wrap: wrap;
    margin-left: -15px;
  }
}

.client-list__item {
  height: 92px;
  margin: 15px;
  flex-basis: calc((100% - 60px) / 2);
}
@media screen and (min-width: 768px) {
  .client-list__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client-list__item {
    flex-basis: calc((100% - 180px) / 6);
  }
}

.client-list__link {
  justify-content: center;
  align-items: center;
  fill: var(--client-command-color);
  display: flex;
  border: 1px solid var(--client-command-color);
  background-size: contain;
  height: 92px;
  align-items: center;
  box-sizing: border-box;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list__link:hover, .client-list__link:focus {
  border: 1px solid var(--second-color);
  fill: var(--second-color);
}

.client-list__item + .client-list__item {
  margin-left: 15px;
}

.client-list__icon {
  width: 106px;
  height: 60px;
  display: inline-block;
  color: var(--client-command-color);
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}
@media screen and (max-width: 479px) {
  .section__title {
    justify-content: center;
  }
}

.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 72px;
  }
}
.footer .container {
  align-items: baseline;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .footer-tablet {
    justify-content: space-around;
    width: 100%;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .footer-tablet {
    justify-content: inherit;
  }
}

.footer__box {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__box {
    text-align: start;
  }
}

.logo-footer {
  color: var(--logo-footer-adress-hero);
  display: block;
}

.address {
  max-width: 100%;
  font-family: "Roboto", Tahoma, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  min-width: 231px;
}

.our-contacts {
  font-weight: 400;
}

.footer-address__link {
  max-width: 100%;
  color: var(--logo-footer-adress-hero);
  text-decoration: none;
}

.address .footer-contacts__link {
  color: var(--footer-list-contacts-color);
  text-decoration: none;
}

.footer-address__link {
  margin-bottom: 8px;
}

.footer-contacts__link:not(:last-child) {
  margin-bottom: 8px;
}

.join {
  margin-top: 60px;
  margin-bottom: 60px;
  color: var(--logo-footer-adress-hero);
  text-align: center;
}
@media screen and (min-width: 768px) {
  .join {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .join {
    margin-left: 70px;
  }
}
.join__title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--logo-footer-adress-hero);
}
@media screen and (min-width: 1200px) {
  .join__title {
    text-align: start;
  }
}

.join__list {
  max-width: 100%;
  display: inline-flex;
}

.join__link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--logo-footer-adress-hero);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join__link:hover, .join__link:focus {
  background-color: var(--second-color);
}

.join__icon {
  fill: var(--logo-footer-adress-hero);
}

.join__item + .join__item {
  margin-left: 10px;
}

.subscribe {
  text-align: center;
  color: var(--logo-footer-adress-hero);
}
@media screen and (min-width: 768px) {
  .subscribe {
    display: block;
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: auto;
    margin-top: 0;
  }
}

.subscribe__title {
  justify-content: center;
  width: 100%;
  font-family: "Roboto", Tahoma, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .subscribe__title {
    text-align: start;
  }
}

.form-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .form-button {
    min-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .form-button {
    flex-direction: unset;
    min-width: 570px;
  }
}

.subscribe-block__button {
  cursor: pointer;
  min-width: 200px;
  height: 50px;
  display: inline-flex;
  background-color: var(--second-color);
  border: none;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .subscribe-block__button {
    margin-left: 12px;
    margin-top: 0;
  }
}
.subscribe-block__icon {
  position: relative;
  margin-left: 10px;
}

.subscribe-class {
  font-family: "Roboto", Tahoma, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--logo-footer-adress-hero);
}

.modal-form {
  position: relative;
}

.footer-modal-input {
  max-width: 450px;
  width: 100%;
  border-color: rgba(255, 255, 255, 0.3);
  outline: none;
  background-color: var(--background-color);
  padding-left: 12px;
}
@media screen and (min-width: 1200px) {
  .footer-modal-input {
    max-width: 358px;
  }
}

input.footer-modal-input {
  height: 50px;
  border-radius: 4px;
}

.filter-list {
  font-family: "Roboto", Tahoma, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .filter-list {
    column-gap: 8px;
    row-gap: 15px;
  }
}
@media screen and (min-width: 768px) {
  .filter-list {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter-list {
    margin-bottom: 50px;
  }
}

.filter-list:first-child {
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .filter-list:first-child {
    padding-right: 79px;
  }
}
@media screen and (min-width: 1200px) {
  .filter-list:first-child {
    padding-right: 495px;
  }
}

.filter-list__menu {
  position: relative;
}
.filter-list__menu:not(:last-child) {
  margin-right: 8px;
}

.filter-list__button {
  font-family: "Roboto", Tahoma, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: var(--brand-color);
  background-color: var(--description-color);
  border-radius: 4px;
  padding: 6px 22px;
  display: inline-block;
  text-align: center;
  border: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-list__button:hover, .filter-list__button:focus {
  background-color: var(--second-color);
  color: var(--logo-footer-adress-hero);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.our-work {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.after-filter {
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .after-filter {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}
.after-filter__item {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .after-filter__item {
    position: relative;
    width: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .after-filter__item {
    position: relative;
    width: calc(33.3333333333% - 30px);
    margin-left: 30px;
  }
}

.post-filter-list {
  height: 100%;
  flex-direction: column;
  width: 100%;
  text-decoration: none;
  display: flex;
  overflow: hidden;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.post-filter-list:hover, .post-filter-list:focus {
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.after-filter-action__text {
  font-family: "Roboto", Tahoma, sans-serif;
  position: absolute;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 101%;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.post-filter-list:focus .after-filter-action__text, .post-filter-list:hover .after-filter-action__text {
  transform: translateY(0);
}

.after-filter-open {
  position: relative;
  overflow: hidden;
}

.after-filter-text {
  flex-grow: 1;
  padding: 20px 24px;
  border-right: 1px solid var(--after-filtre-text-box-color);
  border-bottom: 1px solid var(--after-filtre-text-box-color);
  border-left: 1px solid var(--after-filtre-text-box-color);
}

.title-filter {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--brand-color);
  margin-bottom: 4px;
}

.text-filter {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}/*# sourceMappingURL=main.css.map */