.section__command {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.172;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  padding-top: 0;
  @media screen and (max-width: 1199px) {
    font-size: 28px;
    line-height: 1.18;
  }
}
.section--otherbackgraund {
  background-color: var(--description-color);
  text-align: center;
  max-width: 1600px;
  margin: 0 auto;
}
.works,
.command-work {
  display: flex;
}

.command {
  padding-left: 0;
  padding-right: 0x;
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}
.command__item {
  margin-bottom: 30px;
  width: 100%;
  @media screen and (min-width: 768px) {
    position: relative;
    width: calc(100% / 1 - 30px);
    margin-left: 30px;
  }
  @media screen and (min-width: 768px) {
    position: relative;
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    position: relative;
    width: calc(100% / 4 - 30px);
    margin-left: 30px;
  }
}

.command__box {
  padding-top: 30px;
  padding-bottom: 30px;

  &:not(:last-child) {
    padding-left: 30px;
  }
}
.command__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  // @media screen and (max-width: 767px) {
  //   margin-right: 10px;
  // }
}
.command__text {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 16px;
  // @media screen and (max-width: 767px) {
  //   margin-right: 16px;
  // }
}
