.footer {
  max-width: 100%;
  position: relative;
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  & .container {
    align-items: baseline;
    max-width: 100%;
    // @media screen and (min-width: 768px) {
    //   display: flex;
    // }
    // @media screen and (min-width: 1200px) {
    //   display: flex;
    // }
  }
}
.footer__box {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  @media screen and (min-width: 768px) {
    position: absolute;
    // position: relative;
    padding-left: 73px;
    padding-right: 165px;
    flex-grow: 1;
  }
}
.logo-footer {
  max-width: 100%;
  color: var(--logo-footer-adress-hero);
  display: block;
}
.address {
  // max-width: 100%;
  font-family: "Roboto", Tahoma, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}
.our-contacts {
  max-width: 100%;
  margin-bottom: 60px;
  align-items: center;
  display: flex;
  flex-direction: column;

  // @media screen and (max-width: 768px) {
  //   align-items: center;
  // }
}
.footer-address__link {
  max-width: 100%;
  color: var(--logo-footer-adress-hero);
  text-decoration: none;
}
.address .footer-contacts__link {
  // max-width: 100%;
  color: var(--footer-list-contacts-color);
  text-decoration: none;
}
.footer-address__link,
.footer-contacts {
  // max-width: 100%;
  // display: flex;
  flex: wrap;
  margin-bottom: 9px;
  // @media screen and (max-width: 1199px) {
  //   justify-content: center;
  // }
}

// .footer-item:not(:last-child) {
//   margin-right: 9px;
// }

.join {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  margin-top: 0;
  // margin-left: 70px;
  margin-bottom: 60px;
  color: var(--logo-footer-adress-hero);

  @media screen and (max-width: 1199px) {
    position: relative;
    display: flex;
    align-items: flex-end;
    padding-right: 89px;
  }

  &__title {
    // max-width: 100%;
    display: flex;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--logo-footer-adress-hero);
    align-items: center;
    padding-right: 30px;
    // @media screen and (max-width: 1199px) {
    //   justify-content: center;
    // }
  }
}
.join__list {
  // max-width: 100%;
  display: inline-flex;
  @media screen and (min-width: 768px) {
    // padding-right: 89px;
  }
}
.join__link {
  // max-width: 100%;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--logo-footer-adress-hero);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--second-color);
  }
}

.join__icon {
  fill: var(--logo-footer-adress-hero);
}
.join__item + .join__item {
  margin-left: 10px;
}
.subscribe {
  // max-width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin-left: 93px;
  color: var(--logo-footer-adress-hero);

  &__title {
    align-content: center;
    flex-wrap: wrap;
    // display: flex;
    flex-direction: column;
    font-family: $font-family-2nd;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    margin-bottom: 20px;

    // position: absolute;
    flex-direction: column;
  }
  // @media screen and (max-width: 768px) {
  //   margin-top: 127px;
  //   position: absolute;
  //   flex-direction: column;
  //   margin-bottom: 60px;
  //   justify-content: center;
  // }
}
.form-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 1200px){
    // display: flex;
  }
}
.subscribe-block {
  // max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__button {
    cursor: pointer;
    width: 200px;
    height: 50px;

    background-color: var(--second-color);
    border: none;
    border-radius: 4px;
    // margin-left: 12px;
    align-items: center;
    // display: inline-flex;
    justify-content: center;
    // @media screen and (min-width: 768px) {
    //   margin-left: 291px;
    // }
    // @media screen and (min-width: 1200px) {
    //   margin-left: 12px;
    // }
  }
  &__icon {
    position: relative;
    margin-left: 10px;
  }
}
.subscribe-class {
  // display: flex;
  // max-width: 100%;

  font-family: $font-family-2nd;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--logo-footer-adress-hero);
}
.modal-form {
  // width: 100%;
  position: relative;
}
.footer-modal-input {
  width: 100%;
  // position: absolute;
  border-color: rgba(255, 255, 255, 0.3);
  outline: none;
  background-color: var(--background-color);
  padding-left: 12px;
}
input.footer-modal-input {
  width: 450px;
  height: 50px;
  border-radius: 4px;

  // @media screen and (min-width: 1200px) {
  //   width: 358px;
  // }
}
